{% extends 'base.html.twig' %}

{% block title %}Modifier votre annonce{% endblock %}

{% block body %}
    <div class="form-container">
        <h2>Modifier votre annonce</h2>
        <form action="{{ path('announce_edit', {id: one_announce.id}) }}" method="POST">
            {{ form_start(form) }}
            <div class="form-group">
                <label for="username">Titre :</label>
                {{ form_widget(form.title, {'attr' : {'value' : one_announce.title}}) }}
            </div>
            <div class="form-group">
                <label for="username">Description :</label>
                {{ form_widget(form.description, {'attr' : {'value' : one_announce.description}}) }}
            </div>
            <div class="form-group">
                <label for="email">Autheur :</label>
                {{ form_widget(form.author, {'attr' : {'value' : one_announce.author}}) }}
            </div>
            <button type="submit" class="btn-submit">Modifier l'annonce</button>
            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}